<div class="container">
    <div class="container-fluid">
  <h1>Registered Patients</h1>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required>
      <br>
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required>
      <br>
      <label for="dob">Date of Birth</label>
      <input type="date" class="form-control" id="dob" required>
      <br>
      <label for="date">Booking Date</label>
      <input type="date" class="form-control" id="date" required>
      <br>
      <label for="time">Booking Time</label>
      <input type="time" class="form-control" id="time" required>
    </div>

    <button type="submit"  class="btn btn-primary" (click)="btnClicking();">Submit</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="btnClick();">Already has an appointment</button>
  
  </form>
  
  </div>
  <div class="col-md-4"></div>
  </div>
    </div>
</div>